.navbar
{
    background-color:rgb(87, 88, 84);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
}
body
{
    background-color:rgb(59, 59, 57);
}
.divCar
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
}
.msg-to-user
{
    height: 50px;
    background-color:rgb(247, 114, 6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    height: 30px;
    background-color:rgb(117, 116, 115);
    display: flex;
    align-items: center;
    color:white;
    width:110px;
    text-align: center;
    position: relative;
    font-size: 125%;
}

.nav-item:hover {
    opacity: 0.7;
}

.nav-image {
    margin-right: 20px;
    margin-left: 30px;
}

.h-100 {
    height: 100%;
}

.w-auto {
    width: auto;
}

body {
    margin: 0;
}

.advert-text {
    font-size: 30px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.filter-select {
    min-width: 150px;
    margin-right: 40px;
    background-color: orange;

}
.users-data
{
    display: flex;
    flex-direction: column;
    width:400px;
    justify-content: flex-start;
    margin-left:30px;
    color:white;
    

}
.car-image {
    width: 100%;
    height: auto;
}

.hidden {
    display: none;
}
.visible{
    display:flex;
}
.car-model{
    margin-left: 500px;
    font-family: fantasy;
    font-size: 180%;
    color:orange;
}
.car-desc{
    margin-left: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
    color:white;    
}
.info-div{
    display: flex;
    flex-direction: row;
}
.car-desc-details{
    margin-top:20px;
    margin-left:50px;
    border:solid orange 1px;
    display: flex;
    flex-direction: column;
    width:500px;
    height: auto;
    font-size:150%;
    color:white;
}
.reserve{
    
    margin-top:10px;
}
.rent-button, .more-info-button{
    margin-left: 30px;
    margin-right: 5px;
    margin-top: 10px;
    height: 50px;
    width:auto;
    align-items: center;
}
.about ,.contact
{
    color:white;
    font-size: 120%;
    margin-left:20px;
}
.about-us
{
    color:rgb(201, 132, 5);
    font-family: 'Times New Roman', Times, serif;
}
.photo-about
{
    margin-left:20px;
    width:1200px;
    height: auto;
}

.section
{
    height:500;
    width:10000;
    margin:20px;
}
.show-less-info
{
    background-color: orange;
    align-items: flex-end;
    margin-top:155px;
    width:300px;
    height: auto;
}
.check-div
{
    display: flex;
    flex-direction: column;
    color:white;
}
.reserved
{
    font-family: fantasy;
    font-size: 140%;
}
.type-of-car
{
    color:white;
    size:350px;
}
.cbx-type
{
    color:white;
    font-size: 140%;
    margin-left: 5px;
    margin-right:15px;
}
.btn-style {

    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border-radius: 8px;
    padding: 12px 28px;
    font-size: 16px;  
     background-color: rgb(197, 143, 43);
    color : black;
}
.btn-style:active {
    background-color: orange;    
    box-shadow: 0 5px rgb(197, 143, 43);
    transform: translateY(4px);
}
.btn-style:hover{

    background-color: rgb(224, 149, 8);
}




.btn-search-car
{
    

   display: inline-block;
   padding: 0.7em 1.4em;
   margin: 0 0.3em 0.3em  0;
   border-radius: 0.15em;
   box-sizing: border-box;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 400;
   color: black;
   background-color: orange;
   box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
   text-align: center;
   position: relative;
   margin-left: 100px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   height: 50px;
   font-family: Trebuchet MS;   
   font-size: 80%;


}

.btn-search-car:hover {
    opacity: 0.8;
}
.btn-search-car:active {
    
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.input-form
{
    background: white;
   /* border: solid orange 1px;*/
    font-size: 14px;
    height: 29px;
    padding: 5px; 
    width: 268px;
    box-sizing: border-box;
    box-shadow: 0 0 1px 1px orange;
    
}
.choose-city
{
    display: block;
  width: 156px;
  cursor: pointer;
  padding-right: 6px;
  padding-bottom: 1px;
}
